@media screen and (max-width:768px){
    .nav{
        padding: 10px;
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        position: relative;
    }
   
    .nav-items ul li{
        padding: 20px 0;
    width: 100%;
    display: block;
    }
}